<div class="cls-container vote">
    <header class="navbar navbar-static-top" id="top" role="banner">
        <div class="container">

            <nav id="vote-navbar" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><h5 style="padding-top: 8px;color:#337ab7">Ahmed Mustapha</h5></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="vm.logout()">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <p class="pad"> {{position}} </p>

                <form ng-submit="">
                    <div class="text-left checkbox" ng-repeat="candidate in candidates">
                        <label class="form-checkbox form-icon form-text" ng-class="{'active':candidate.selected}">
                            <input type="checkbox" value="{{candidate.Id}}" ng-click="vm.voteChecked($event)"> {{candidate.Name}}
                        </label>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-6 text-left">
                            <div class="form-group text-left">
                                <button class="btn btn-danger text-uppercase" ng-click="vm.previousClicked()" ng-disabled="current == 0">
                                    <i class="fa fa-chevron-left"></i>
                                    Previous
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group text-right">
                                <button class="btn btn-success text-uppercase" ng-click="vm.nextClicked()" ng-bind-html="nextText">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>
